<div class="container-advertisement">
    <div class="content">
        <div class="text-content">
            <h1>
                It’s Now <span class="span-text">More Easy</span> to <span class="span-text-two">Order</span><br>
                by Our Mobile App
            </h1>
            <p class="adv-p">
                All you need to do is download one of the best delivery apps, make an order,
                and most companies are opting for mobile app development for food delivery.
            </p>
            <div class="download-buttons">

            </div>
        </div>
        <div class="image-section">

        </div>
    </div>

</div>