<div class="header-container">
    <a href="index.html" class="logo">
        <img src="./src/images/Logo.svg" alt="Food Hut - LOGO">
    </a>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="#special" class="navbar-link">Today special offers</a>
            </li>
            <li class="navbar-item">
                <a href="#service" class="navbar-link">Why FoodHut</a>
            </li>
            <li class="navbar-item">
                <a href="#menu" class="navbar-link">Our Menu</a>
            </li>
            <li class="navbar-item">
                <a href="#menu" class="navbar-link">Our Popular food</a>
            </li>
        </ul>
        <a href="#" class="page-btn download">Download App</a>
    </nav>
</div>