<div class="hero-container">
    <div class="content">
        <div id="group8428">
            <img src="./src/images/hero/heart.svg" alt="heart">
            <p>People Trust us</p>
        </div>
        <h1 class="title">
            <img src="./src/images/hero/Orange.svg" alt="Orange" id="orange">
            We're <span class="title-span red">Serious</span> For <span class="title-span red">Food</span> &
            <span class="title-span yellow">Delivery</span>.
            <img src="./src/images/hero/Decore.svg" alt="Decore" id="decore">
        </h1>
        <p class="subTitle">Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 60
            minutes.</p>

        <form action="#" class="hero-search-form">
            <div class="search-group">
                <svg width="24" height="24" class="search-icon">
                    <image href="./src/images/hero/search.svg"></image>
                </svg>
                <input type="text" placeholder="Search food" class="search-input" required>

            </div>
        </form>

        <div class="buttons">
            <a href="#" class="page-btn  ">
                Download App
            </a>
            <a href="#" class="trns-btn  ">
                <div class="play">
                    <img src="./src/images/hero/play.svg" alt="play">
                </div>
                <p>Watch Video</p>
            </a>
        </div>
    </div>
    <div class="media">
        <h2>Media</h2>
        <img src="./src/images/hero/hero-image.png" style="object-fit: cover;" width="430" height="570"
            alt="Hero-Image" />
    </div>
</div>