<div class="hero-container">
  <div class="content">
    <div id="group8428">
      <img src="./src/images/hero/heart.svg" alt="heart" />
      <p>People Trust us</p>
    </div>
    <h1 class="title">
      <img src="./src/images/hero/Orange.svg" alt="Orange" id="orange" />
      We're <span class="title-span red">Serious</span> For
      <span class="title-span red">Food</span> &
      <span class="title-span yellow">Delivery</span>.
      <img src="./src/images/hero/Decore.svg" alt="Decore" id="decore" />
    </h1>
    <p class="subTitle">
      Best cooks and best delivery guys all at your service. Hot tasty food will
      reach you in 60 minutes.
    </p>

    <form action="#" class="hero-search-form">
      <div class="search-group">
        <svg width="24" height="24" class="search-icon">
          <image href="./src/images/hero/search.svg"></image>
        </svg>
        <input
          type="text"
          placeholder="Search food"
          class="search-input"
          required
        />
      </div>
    </form>

    <div class="buttons">
      <a href="#" class="page-btn"> Download App </a>
      <a href="#" class="trns-btn">
        <div class="play">
          <img src="./src/images/hero/play.svg" alt="play" />
        </div>
        <p>Watch Video</p>
      </a>
    </div>
  </div>
  <div class="media">
    <img
      src="./src/images/hero/emojione_fire.svg"
      alt="emojione_fire"
      id="emojione_fire"
    />
    <img
      src="./src/images/hero/hero-image.png"
      style="object-fit: cover"
      width="488"
      height="586"
      alt="Hero-Image"
    />
    <div id="group85356">
      <div class="media">
        <img
          src="./src/images/hero/rectangle-1371.png"
          width="61"
          height="61"
          alt="Italian Pizza"
        />
      </div>
      <div class="content">
        <p>Italian Pizza</p>
        <div class="stars">
          <img src="./src/images/hero/star.svg" alt="star-ok" />
          <img src="./src/images/hero/star.svg" alt="star-ok" />
          <img src="./src/images/hero/star.svg" alt="star-ok" />
          <img src="./src/images/hero/star.svg" alt="star-ok" />
          <img src="./src/images/hero/star-null.svg" alt="star" />
        </div>
        <p>$9.50</p>
      </div>
    </div>
    <img
      src="./src/images/hero/t4gag1e6fmeokhs7mt3g58vhbt 1.svg"
      alt="t4gag1e6fmeokhs7mt3g58vhbt"
      id="t4gag1e6fmeokhs7mt3g58vhbt"
    />
    <img
      src="./src/images/hero/Meal-PNG-Download-Image 1.svg"
      alt="Meal-PNG-Download-Image"
      id="Meal-PNG-1"
    />
    <img src="./src/images/hero/pngfind 1.svg" alt="pngfind" id="pngfind" />
    <img
      src="./src/images/hero/Meal-PNG-Download-Image 2.svg"
      alt="Meal-PNG-Download-Image 2"
      id="Meal-PNG-2"
    />
    <img src="./src/images/hero/SeekPng.svg" alt="SeekPng" id="SeekPng" />
    <div id="group8433">
      <div class="media">
        <img src="./src/images/hero/ya.png" alt="ya" />
      </div>
      <div class="content">
        <p>Our Happy Customer</p>
        <span
          ><img src="./src/images/hero/star.svg" alt="star-ok" /> 4.9 (1.989
          Reviews)</span
        >
      </div>
    </div>
  </div>
</div>
