#page-header {
    padding: 32px 70px;
    background-color: transparent;
    border: 1px solid black;
    width: 1440px;
    margin: auto;
}

#page-header .header-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#page-header .header-container .navbar {
    display: flex;
    justify-content: space-between;
    gap: 96px;
}

#page-header .header-container .navbar .navbar-list {
    margin-top: 15px;
    display: flex;
    gap: 50px;
}

#page-header .header-container .navbar .navbar-list .navbar-item {
    height: max-content;
    border: 1px solid black;
}

#page-header .header-container .navbar .navbar-list .navbar-item .navbar-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.16px;
    color: #191919;
}

#page-header .header-container .navbar .navbar-list .navbar-item:hover .navbar-link {
    color: #F54748;
}

.page-btn {
    background: #F54748;
    border-radius: 100px;
    padding: 10px 20px;
    width: fit-content;
    height: max-content;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.16px;
    color: #FFFFFF;
}

.page-btn:hover,
.page-btn:focus {
    background: #FFFFFF;
    color: #F54748;
    border: 1px solid #F54748;
}