#page-header .header-container {
  display: flex;
  justify-content: space-between;
  padding-block: 32px;
}

.header-container .navbar {
  /* border: 1px solid red; */
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: space-between;
}
.header-container .navbar .nav-list {
  display: flex;
  gap: 50px;
  color: black;
}
.header-container .navbar .nav-list .nav-item .nav-link {
  font-family: Sofia Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.16px;
  color: #191919;
}

.page-btn {
  background: #f54748;
  border-radius: 100px;
  padding: 10px 20px;
  width: fit-content;
  height: max-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.16px;
  color: #ffffff;
}

.page-btn:hover,
.page-btn:focus {
  background: #ffffff;
  color: #f54748;
  border: 1px solid #f54748;
}
